body {
  overflow: hidden;
}

.board-parent {
    min-width: 300px;
    display: flex;
    flex-wrap: nowrap;
    max-height: calc(100vh - var(--header-height));
    overflow-y: auto;
}

.sticky-top {
  border-left: 0 !important;
}

.modal-dialog{
  overflow-y: initial !important;
}
.content-col{
  overflow: auto;
  max-height: 80vh;
}

.board-child {
    flex: 0 0 25%;
    overflow-y: auto;
}


