{% macro modal(card, current_user)%}
<div class="modal fade" id="card-modal-{{ card.id }}" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h3>Card Viewer</h3></font></font></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body row">
          <div class="col-8 content-col">
            <h4 class="text-break">{{ card.card_name }}</h4>
            <p class="fs-6 fw-light m-0">Board: {{ card.board.title }}</p>
            <p class="fs-6 fw-light m-0">Column: {{ card.column.column_name }}</p>
            <hr>

            <h4>Description</h4>
            <p class="fs-6 text-break">{{ card.card_subtitle }}</p>
            <hr>

            <h4>Content</h4>
            <p class="fs-6 text-break" style="white-space: pre-wrap">{{ card.card_content }}</p>
            <hr>

            <h6>Card created on: </h6>
            <p class="fs-6 fw-light">{{ card.date_created }} (UTC Time)</p>
            <h6>Last edited on: </h6>
            <p class="fs-6 fw-light">{{ card.last_edited }} (UTC Time)</p>
          </div>

          <div class="vr" style="padding: 1px;"></div>
          <div class="col-3 f-flex flex-column">
            <h4>Actions</h4>
            <span>
              <a href="{{ url_for('microtasker.editcard', card_id=card.id) }}" class="text-decoration-none">
                <button type="button" class="w-100 m-1 text-start btn btn-info btn-sm"><i class="bi bi-pencil-square me-2"></i>Edit</button>
              </a>
              <a href="{{ url_for('microtasker.delete', board_id=card.board_id, card_id=card.id) }}" class="text-decoration-none">
                <button type="button" class="w-100 m-1 text-start btn btn-danger btn-sm"><i class="bi bi-trash me-2"></i>Delete</button>
              </a>
              <button type="button" class="w-100 m-1 text-start btn btn-warning btn-sm"><i class="bi bi-cone-striped me-2"></i>Under Construction</button>
            </span>
            <div class="card" style="position:absolute; bottom:4%; width:17.8rem">
              <div class="card-body">
                <h5 class="card-title">Created by:</h5>
                <div class="d-flex align-items-center text-decoration-none">
                  <img src="{{ current_user.email | gravatar }}" alt="" width="32" height="32" class="rounded-circle me-2">
                  <strong>{{ current_user.username }}</strong>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}