{% from 'macros/theme.html' import theme %}
{% from 'modals/board-card-modal.html' import modal %}
{% extends "microtasker/base.html" %}

{% block head %}
{{ super() }}
     <link rel="stylesheet" href="/static/microtasker/css/board.css">
{% endblock %}

{% block content %}
{{ super() }}

{# Card Modal #}
{% for card in board.cards %}
    {{ modal(card, current_user) }}
{% endfor %}
{#  #}

<div class="container vh-100 px-0">
    <div class="d-flex justify-content-center border sticky-top" id="header" style="border-top: 0 !important; border-right: 0 !important;">
        <div class="fs-5 badge border border-{{ theme() }} rounded-pill my-1" style="background-color: {{ board.color }};">
        <a href="{{ url_for('microtasker.editboard', board_id=board.id) }}" class="text-decoration-none" style="color: inherit">    
            {{ board.title }}
        </a>
        </div>
    </div>
    <div class="row board-parent d-flex flex-nowrap px-2 vh-100">
        {% for col in board.columns %}
        <div class="col-3 border border-left-0 border-top-0 border-bottom-0 board-child dropzone" id="{{ col.id }}">
            <div class="d-flex justify-content-center my-2 position-relative">
                <div class="fs-5 badge rounded-pill border border-{{ theme() }} d-flex justify-content-center align-middle" style="background-color: {{ col.color }}; height: 40%;">
                <a href="{{ url_for('microtasker.editcol', col_id=col.id) }}" class="text-decoration-none" style="color: inherit; text-overflow: ellipsis">
                    {{ col.column_name }}
                </a>
                </div>
                    
            </div>
            {% for card in col.cards %}
            <a data-bs-toggle="modal" data-bs-target="#card-modal-{{ card.id }}">
                <div class="drag" draggable="true" id="{{ card.id }}">
                    <div class="card w-100 mb-3">
                        <div class="card-body">
                            <div class="d-grid">
                                <div class="row d-flex justify-content-between">
                                    <div class="d-column gap-1">
                                        <p class="fs-6 d-flex text-start text-break card-title border border-{{ theme() }} badge rounded-pill" style="width: fit-content; white-space: pre-line; background-color: {{ card.color }};">{{ card.card_name }}</p>
                                        <p class="card-text text-start text-break m-0" style="white-space: pre-line">{{ card.card_subtitle }}</p>
                                        <small>{{ timeago(card.date_created|string) }}</small>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            <div class="card w-100 mb-3" id="newcard">
                <div class="card-body">
                    <div class="d-grid">
                        <a href="{{ url_for('microtasker.newcard', col_id=col.id) }}" class="text-decoration-none">
                            <div class="row row-cols-2 d-flex justify-content-center align-items-center">
                                <h5 class="col-auto card-title m-0 pr-0">Create New Card</h5>
                                <svg class="col-auto" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                                    <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"></path>
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-3 board-child">
        <div class="card m-2" style="max-width: 20vw;">
            <div class="card-body">
                <div class="d-grid">
                    <a href="{{ url_for('microtasker.addcol', board_id=board.id) }}" class="text-decoration-none">
                        <div class="row row-cols-2 d-flex justify-content-center align-items-center">
                            <h5 class="col-auto card-title m-0 pr-0">Create New Column</h5>
                            <svg class="col-auto" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                                <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"></path>
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<script src="/static/microtasker/js/board.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock%}