{% extends 'microtasker/base.html' %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/static/microtasker/css/create-card.css">
{% endblock %}

{% block main %}
<main class="flex-grow-1 d-flex align-items-center justify-content-center">
  <form class="create-card d-column align-center" action="{{ url_for('microtasker.newcard', col_id=col_id) }}" method="post" novalidate>
    <img class="mb-4" src="/static/microtasker/icons/kanban.png" alt="" width="50" height="50">
    <h1 class="h3 mb-3 fw-normal">New Card</h1>
    <h3 class="h5 mb-3 fw-normal">Column: {{ col_name }}</h3>
    {{ form.csrf_token }}
    <div >
        {{ form.card_name.label(class_='form-label') }}
        {{ form.card_name(class_='form-control card-name') }}
        {% for err in form.card_name.errors %}
			<span style="color:red">{{ err }}</span>
		{% endfor %}
    </div>
    <br>
    <div >
        {{ form.card_subtitle.label(class_='form-label') }}
        {{ form.card_subtitle(class_='form-control card-subtitle') }}
        {% for err in form.card_subtitle.errors %}
			<span style="color:red">{{ err }}</span>
		{% endfor %}
    </div>
    <br>
    <div>
        {{ form.card_content.label(class_='form-label') }}
        {{ form.card_content(class_='form-control card-content') }}
        {% for err in form.card_content.errors %}
			<span style="color:red">{{ err }}</span>
		{% endfor %}
    </div>
    <br>
    <div>
      {{ form.card_color.label(class_='form-label') }}<br>
      {{ form.card_color(class_='form-control form-control-color') }}
    </div>
    <br>
    {{ form.submit(class_='btn btn-primary w-100 py-2') }}
  </form>
</main>
{% endblock %}
{% block script %}
{{ super() }}
{% endblock %}
