{% extends "microtasker/base.html" %}

{% block main %}
<main class="flex-grow-1 d-flex align-items-center justify-content-center">
    <section class="card border border-5 rounded rounded-5 border-primary-subtle py-1 p-md-2 p-xl-3 p-xxl-4">
        <div class="card-body">
            <div class="d-flex flex-column align-items-center pb-4"><i class="ai-trash text-primary lead pe-1 me-2"></i>
            <img class="mb-4" src="/static/microtasker/icons/kanban.png" alt="" width="50" height="50">
            <h1 class="h3 mb-3 fw-normal">Delete Account</h1>
            </div>
            <div class="alert alert-warning d-flex mb-4"><i class="ai-triangle-alert fs-xl me-2"></i>
            <p class="mb-0">When you delete your account, your profile will be deactivated immediately, along with all your data stored on this website.</p>
            </div>
            <form action="{{ url_for('microtasker.deleteaccount', username=current_user.username) }}" method="post" novalidate>
                {{ form.csrf_token }}
                <div class="form-check">
                    {{ form.verification(class_="form-check-input")}}
                    {{ form.verification.label(class_="form-check-label fw-medium")}}
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-end pt-4 mt-sm-2 mt-md-3">
                <button class="btn btn-danger" type="submit"><i class="bi bi-trash3 me-2"></i>Delete account</button>
                </div>

            </form>

        </div>
    </section>
</main>
{% endblock %}