{% extends 'microtasker/base.html' %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/static/microtasker/css/sign-in.css">
    <link rel="stylesheet" href="/static/microtasker/css/register.css">
{% endblock %}

{% block main %}
<main class="flex-grow-1 d-flex align-items-center justify-content-center">
  <form class="form-signin" action="{{ url_for('microtasker.register') }}" method="post">
    <img class="mb-4" src="/static/microtasker/icons/kanban.png" alt="" width="50" height="50">
    <h1 class="h3 mb-3 fw-normal">Register Account</h1>
    {{ form.csrf_token }}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="margin: auto; color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="form-floating">
        {{ form.username(class_='form-control', type_='text', size=40) }}
        {{ form.username.label }}
        {% for err in form.username.errors %}
			<span style="color:red">{{ err }}</span>
		{% endfor %}
    </div>
    <br>
    <div class="form-floating">
        {{ form.email(class_='form-control', size=40) }}
        {{ form.email.label }}
        {% for err in form.email.errors %}
			<span style="color:red">{{ err }}</span>
		{% endfor %}
    </div>
    <br>
    <div class="form-floating">
        {{ form.password(class_='form-control', size=40) }}
        {{ form.password.label }}
        {% for err in form.password.errors %}
			<span style="color:red">{{ err }}</span>
		{% endfor %}
    </div>
    <br>
    {{ form.submit(class_='btn btn-primary w-100 py-2') }}
  </form>
</main>
{% endblock %}
{% block script %}
{{ super() }}
{% endblock %}
