{% extends "pw/base.html" %}

{% block content %}
<div class="container col-xxl-10 px-1 py-3">
    <h3 class="display-10 fw-bold lh-1 mb-3 pb-2 text-white">Technical Skills</h3>
    <div class="list-group">
        <li class="d-flex list-group-item active" aria-current="true">Advanced Usage</li>
        
        <div class="d-flex gap-1 list-group-item list-group-item-action m-0" data-bs-container="body" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
            <a class="rounded badge bg-transparent border " tabindex="0"   id="pglang" style="max-width: fit-content;">
                <img src="/static/pw/images/python.svg" width="30" height="30">
            </a>
            <p class="ms-2 my-auto">Python</p>
        </div>
        <div class="collapse card" id="collapse1">
            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/flask.svg" width="30" height="30" style="filter: invert()">
                    </a>
                    <p class="ms-2 my-auto">Flask Web Development</p>
                </div>
            </div>

            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/streamlit.svg" width="30" height="30">
                    </a>
                    <p class="ms-2 my-auto">Data Science Web Apps with Streamlit</p>
                </div>
            </div>

            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/pandas.svg" width="30" height="30">
                    </a>
                    <p class="ms-2 my-auto">Data Analysis with Pandas</p>
                </div>
            </div>

            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border text-dark" tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/seaborn.svg" width="30" height="30">
                        <img src="/static/pw/images/matplotlib.svg" width="30" height="30">
                        <img src="/static/pw/images/plotly.svg" width="30" height="30">
                    </a>
                    <p class="ms-2 my-auto">Data Visualization with Seaborn, Matplolib and Plotly</p>
                </div>
            </div>

            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/numpy.svg" width="30" height="30">
                    </a>
                    <p class="ms-2 my-auto">Numerical Analysis with Numpy</p>
                </div>
            </div>

            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/sql.svg" width="30" height="30">
                    </a>
                    <p class="ms-2 my-auto">Database Manipulation with SQLAlchemy</p>
                </div>
            </div>

            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border" tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/api.svg" width="30" height="30" style="filter: invert();">
                    </a>
                    <p class="ms-2 my-auto">API Manipulation and Development</p>
                </div>
            </div>

            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/selenium.svg" width="30" height="30">
                    </a>
                    <p class="ms-2 my-auto">Web Scraping with Beautiful Soup and Selenium</p>
                </div>
            </div>

            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/gui.svg" width="30" height="30" style="filter: invert();">
                    </a>
                    <p class="ms-2 my-auto">GUI Application Development with Tkinter</p>
                </div>
            </div>
        </div>


        <div class="d-flex gap-1 list-group-item list-group-item-action m-0" data-bs-container="body" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
            <a class="rounded badge bg-transparent border" tabindex="0"   id="pglang" style="max-width: fit-content;">
                <img src="/static/pw/images/excel.svg" width="30" height="30">
            </a>
            <p class="ms-2 my-auto">Advanced usage of Microsoft Excel</p>
        </div>
        <div class="collapse card" id="collapse2">

            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border text-black" tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/tables.svg" width="30" height="30" style="filter: invert();">
                        <img src="/static/pw/images/vba.svg" width="30" height="30">
                    </a>
                    <p class="ms-2 my-auto">Pivot Tables and Basic VBA Scripting</p>
                </div>
            </div>
        </div>

        <li class="d-flex list-group-item active" aria-current="true">Intermediate Usage</li>

        <div class="d-flex gap-1 list-group-item list-group-item-action m-0">
            <a class="rounded badge bg-transparent border text-dark" tabindex="0" style="max-width: fit-content;">
                <img src="/static/pw/images/html.svg" width="30" height="30">
                <img src="/static/pw/images/css.svg" width="30" height="30">
                <img src="/static/pw/images/js.svg" width="30" height="30">
                <img src="/static/pw/images/bootstrap.svg" width="30" height="30">
            </a>
            <p class="ms-2 my-auto">Web Development</p>
        </div>
    
        <div class="d-flex gap-1 list-group-item list-group-item-action m-0">
            <a class="rounded badge bg-transparent border text-dark" tabindex="0" id="pglang" style="max-width: fit-content;">
                <img src="/static/pw/images/git.svg" width="30" height="30">
                <img src="/static/pw/images/github.svg" width="30" height="30" style="filter: invert();">
            </a>
            <p class="ms-2 my-auto">Version Control with Git and Github</p>
        </div>
        
        <div class="d-flex gap-1 list-group-item list-group-item-action m-0" data-bs-container="body" data-bs-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">
            <a class="rounded badge bg-transparent border" tabindex="0"   id="pglang" style="max-width: fit-content;">
                <img src="/static/pw/images/linux.svg" width="30" height="30">
            </a>
            <p class="ms-2 my-auto">Linux</p>
        </div>
        <div class="collapse card" id="collapse3">
            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border text-dark" tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/ubuntu.svg" width="30" height="30">
                        <img src="/static/pw/images/debian.svg" width="30" height="30">
                    </a>
                    <p class="ms-2 my-auto">Familiarity with the Ubuntu and Debian distributions</p>
                </div>
            </div>

            <div class="p-2">
                <div class="d-flex gap-1 p-0 m-0 ms-5 ">
                    <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                        <img src="/static/pw/images/bash.svg" width="30" height="30" >
                    </a>
                    <p class="ms-2 my-auto">Basic Bash Scripting</p>
                </div>
            </div>
        </div>



        <li class="d-flex list-group-item active" aria-current="true">Basic Usage</li>

        <div class="d-flex gap-1 list-group-item list-group-item-action m-0">
            <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                <img src="/static/pw/images/ruby.svg" width="30" height="30">
            </a>
            <p class="ms-2 my-auto">Ruby</p>
        </div>

        <div class="d-flex gap-1 list-group-item list-group-item-action m-0">
            <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                <img src="/static/pw/images/r.svg" width="30" height="30">
            </a>
            <p class="ms-2 my-auto">Statistical Analysis with R</p>
        </div>

        <div class="d-flex gap-1 list-group-item list-group-item-action m-0">
            <a class="rounded badge bg-transparent border" tabindex="0" id="pglang" style="max-width: fit-content;">
                <img src="/static/pw/images/docker.svg" width="30" height="30">
            </a>
            <p class="ms-2 my-auto">Docker</p>
        </div>

        <div class="d-flex gap-1 list-group-item list-group-item-action m-0">
            <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                <img src="/static/pw/images/eikon.svg" width="30" height="30">
            </a>
            <p class="ms-2 my-auto">Refinitiv Eikon</p>
        </div>

        <div class="d-flex gap-1 list-group-item list-group-item-action m-0">
            <a class="rounded badge bg-transparent border " tabindex="0" id="pglang" style="max-width: fit-content;">
                <img src="/static/pw/images/sql.svg" width="30" height="30">
            </a>
            <p class="ms-2 my-auto">SQL Databases</p>
        </div>
    </div>
</div>
{% endblock %}